pod/eonpod/logs/pod.log
pod/eonpod/media/*
# Ignore pod log files
pod/eonpod/logs/pod.log

# Ignore all files inside pod/eonpod/media directory
pod/eonpod/media/*
pod/eonpod/models/*

# Ignore test data
pod/tests/testdata

# Ignore SQLite database
db.sqlite3

# Ignore specific Python files
pod/classes/__pycache__
pod/eonpod/pod/__pycache__


# Ignore compiled Python files
*.pyc
**/*.pyc
__pycache__/

# Ignore all log files
*.log
**/*.log

# Ignore environment files (if needed)
.env

# Ignore compiled Python files
*.pyc
__pycache__/

# Ignore log files
*.log

# Ignore environment files (if needed)
.env

# Ignore compiled Python files
**/*.pyc
__pycache__/

# Ignore all log files
**/*.log

# Ignore .env files (if needed)
*.env
