{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Chat Page</title>
    <!-- Include your CSS files here -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'ui/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'ui/bootstrap.css.map'%}">
    <link rel="stylesheet" href="{% static 'ui/bootstrap.min.css.map'%}">
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/ai_chatpage.css'%}">
</head>
<body>
    <div class="container-fluid">
        <div class="row justify-content-center align-items-center ">
            <div class="col-12 col-lg-8">
                <div class="home-screen text-center p-3">
                    <!-- Header -->
                    <div class="header d-flex justify-content-between align-items-center mb-2">
                        <div class="logo" id="logo">
                            <img src="{% static 'images/eonpodlogo.png' %}" loading="lazy" alt="Logo" class="img-fluid">
                        </div>
                        <div class="home-page-icon" id="home-page-icon" style="display: flex;">
                            <!-- Buttons for full screen and full screen exit -->
                            <div class="button-row" style="align-items: right;">
                                <!-- Full screen button -->
                                <button id="fullscreenButton" class="button btn btn-outline-secondary" >
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-arrows-fullscreen" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M5.828 10.172a.5.5 0 0 0-.707 0l-4.096 4.096V11.5a.5.5 0 0 0-1 0v3.975a.5.5 0 0 0 .5.5H4.5a.5.5 0 0 0 0-1H1.732l4.096-4.096a.5.5 0 0 0 0-.707m4.344 0a.5.5 0 0 1 .707 0l4.096 4.096V11.5a.5.5 0 1 1 1 0v3.975a.5.5 0 0 1-.5.5H11.5a.5.5 0 0 1 0-1h2.768l-4.096-4.096a.5.5 0 0 1 0-.707m0-4.344a.5.5 0 0 0 .707 0l4.096-4.096V4.5a.5.5 0 1 0 1 0V.525a.5.5 0 0 0-.5-.5H11.5a.5.5 0 0 0 0 1h2.768l-4.096 4.096a.5.5 0 0 0 0 .707m-4.344 0a.5.5 0 0 1-.707 0L1.025 1.732V4.5a.5.5 0 0 1-1 0V.525a.5.5 0 0 1 .5-.5H4.5a.5.5 0 0 1 0 1H1.732l4.096 4.096a.5.5 0 0 1 0 .707"/>
                                    </svg>
                                </button>

                                <!-- Full screen exit button -->
                                <button id="fullscreenExitButton" class="button btn btn-outline-secondary" style="display: none;">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-fullscreen-exit" viewBox="0 0 16 16">
                                        <path d="M5.5 0a.5.5 0 0 1 .5.5v4A1.5 1.5 0 0 1 4.5 6h-4a.5.5 0 0 1 0-1h4a.5.5 0 0 0 .5-.5v-4a.5.5 0 0 1 .5-.5m5 0a.5.5 0 0 1 .5.5v4a.5.5 0 0 0 .5.5h4a.5.5 0 0 1 0 1h-4A1.5 1.5 0 0 1 10 4.5v-4a.5.5 0 0 1 .5-.5M0 10.5a.5.5 0 0 1 .5-.5h4A1.5 1.5 0 0 1 6 11.5v4a.5.5 0 0 1-1 0v-4a.5.5 0 0 0-.5-.5h-4a.5.5 0 0 1-.5-.5m10 1a1.5 1.5 0 0 1 1.5-1.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 0-.5.5v4a.5.5 0 0 1-1 0z"/>
                                    </svg>
                                </button>
                            </div>  
                            <a href="{% url 'eonpod' %}">
                                <img src="{% static 'images/Home Page Icon.png' %}" loading="lazy" alt="Gear Icon" class="img-fluid">
                            </a>
                        </div>
                    </div>
                    <!-- Card view AI Process -->
                    <div class="card-body" id="parent-card-body">
                        <div class="card scrollable-card mb-0">
                            <div class="ai-process-icon mt-2" id="ai-process-icon">
                                <img src="{% static 'images/AI Chatbot Logo.png' %}" width="80%" loading="lazy" alt="AI Process Icon" class="img-fluid">
                            </div>
                            <div class="card-body">
                                <div class="row d-flex justify-content-center align-items-center">
                                    <div class="col-4 d-flex justify-content-center" style="outline: none; border: none;">
                                        <div style="display: flex; flex-direction: column; align-items: center;">                                    
                                            <!-- Button for latest file Processing -->
                                            <button class="btn btn-lg" id="ai-process-latest-file" onclick="homePage()" style="outline: none; border: none;">
                                                <img src="{% static 'images/Switch to Speech Recognition Icon.png' %}" width="150px" loading="lazy" alt="AI Process Latest File Icon" class="img-fluid">
                                                <div class="img-text" style="width: 230px;">Switch to Home Page</div>
                                            </button>   
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div class="d-flex">
                                    <button class="btn btn-sm" id="ai-process-latest-file" style="outline: none; border: none;">
                                        <img src="{% static 'images/Hello Header.png' %}" width="360px" loading="lazy" alt="AI Process Latest File Icon" class="img-fluid">                                    
                                    </button> 
                                    <button class="nav-link ms-auto" id="share-tab" data-bs-toggle="tab" data-bs-target="#share" type="button" role="tab" aria-controls="share" aria-selected="false" style="font-size: medium;">
                                        <img src="{% static 'images/Share Icon.png' %}" alt="Share Icon" style="width: 30px; height:30px;">             
                                    </button>
                                </div>
                                
                                <div class="card-body chat-cardbody" id="chat-cardbody" style="overflow-y: auto; max-height: 350px; text-align: initial;">
                                    <!-- Animation and conversation history -->
                                    <div class="scrollable-content" id="scrollable-content-history">
                                        <div id="conversationHistory" class="conversation-history mb-2"></div>
                                        <div id="wave" style="display: none;">
                                            <span class="dot"></span>
                                            <span class="dot"></span>
                                            <span class="dot"></span>
                                        </div>
                                    </div>                            
                                </div>
                            </div>
                        </div>
                        <!-- Form for message input and submit button -->
                        <form class="help-form d-flex align-items-center mt-3 mb-3" id="promptForm">
                            <textarea name="question" rows="4" cols="50" placeholder="Ask Your Question Here ..." class="form-control" id="question" style="background-color: #E7EBEF;" ></textarea>
                            <button type="submit" class="btn-submit">
                                <img src="{% static 'images/Submit Icon.png' %}" alt="Submit">
                            </button>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- Bootstrap Bundle -->
    <script src="{% static 'ui/bootstrap.min.js' %}"></script>
    <!-- OBS websocket Bundle -->
    <script src="{% static 'ui/obs-ws.min.js' %}"></script>
    <!-- JS script code -->
    <script src="{% static 'js/ai_chatpage.js' %}"></script>
</body>
</html>
