{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Link to external CSS file -->
    <link rel="stylesheet" href="{% static 'css/play_pause_controls.css' %}">
</head>

<body>
    <div class="controls" id="controls" style="display: none;">

        <button id="pause-recording" class="control-button pause-recording">
            <div class="circle-container">
                <div class="outer-circle">
                    <div class="middle-circle">
                        <div class="progress-bar" id="progress-bar1" style="display: none;"></div>
                        <div class="inner-circle">
                            <div class="center-circle-pause"></div>
                        </div>
                    </div>
                </div>
            </div>
        </button>
        
        <button id="resume-recording" class="control-button resume-recording">
            <div class="circle-container">
                <div class="outer-circle">
                    <div class="middle-circle">
                        <div class="progress-bar" id="progress-bar1" style="display: none;"></div>
                        <div class="inner-circle">
                            <div class="center-circle-resume"></div>
                        </div>
                    </div>
                </div>
            </div>
        </button>

        <div class="button-text text-center mt-2" id="text-label">Pause Recording</div>
    </div>

    <!-- Link to external JavaScript file -->
    <script src="{% static 'js/play_pause_controls.js' %}"></script>
</body>

</html>